<nav>
	<div class="mobile">
		<img class="mobile_logo" src="/images/layouts/logo.svg">
		<div class="mobile_hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<img class="nav_logo" src="/images/layouts/logo.png">
	<hr/>
	<div class="nav_map">
		<%= link_to(articles_path) do %>
			<h4>Home</h4>
		<% end %>
		<%= link_to(tags_path) do %>
			<h4>Tags</h4>
		<% end %>
		<a href="/zthoutt/ror-blog">
			<h4>Source Code</h4>
		</a>

	</div>
	<hr/>
	@include('components.social')
	<img class="flatirons" src="/images/layouts/flatirons.svg">
</nav>
