<% content_for :header do %>
    <title>RoR Blog</title>
<% end %>

<section class="articles">
    <div class="articles_list">
        <div class="articles_list_header">
            <h1>My RoR Articles</h1>
        </div>
        <%= render @articles %>
    </div>
    <dir class="articles_blank"></dir>
</section>