<section class="post">
    <div class="post_content">
    	<%= render :partial => 'article', :locals => {list: false, article: @article} %>
    </div>
    <dir class="post_blank"></dir>
</section>

<section class="comments">
	<h2>Comments:</h2>
	<%= render @article.comments %>

	<h5>Add a comment</h5>
	<%= render 'comments/form' %>
</section>

