<section class="Post">
    <div class="Post__content">
    	<%= render :partial => 'article', :locals => {list: false, article: @article} %>
    </div>
    <dir class="Post__blank"></dir>
</section>

<section class="Comments">
	<h2 class="Comments__title">Comments:</h2>
	<%= render @article.comments %>
	<% if flash[:max_comments] %>
		<p class="Utilities__notice"><%= flash[:max_comments] %></p>
	<% end %>
	<h5 class="Comments__add">Add a comment</h5>
	<%= render 'comments/form' %>
</section>

