<div class="intro">
	<h1>Welcome to my RoR blog!</h1>
	<p>For better or for worse this is <strong>not</strong> a real blog. You may read the lorem ipsum text if you like, but this site was created solely to demonstrate my RoR knowledge</p>
	<p>If you would like authentication credentials to create, edit, and delete articles, plase <a href="mailto:zackarey.thoutt@colorado.edu?Subject=RoR%20Blog%20Admin%20Access">request them.</a></p>
</div>


