<div class="Home">
	<h1 class="Home__title Utilities__header">Welcome to my RoR blog!</h1>
	<p class="Home__para">For better or for worse this is <strong>not</strong> a real blog. You may read the lorem ipsum text if you like, but this site was created solely to demonstrate my RoR knowledge</p>
	<p class="Home__para">This site is built with Ruby on Rails and hosted with DigitalOcean, Unicorn, and Nginx.</p>
	<p class="Home__para">If you would like authentication credentials to create, edit, and delete articles, please <a class="Utilities__nakedLink" href="mailto:zackarey.thoutt@colorado.edu?Subject=RoR%20Blog%20Admin%20Access">request them.</a></p>
</div>


