<div class="Utilities__header">
	<h1>The tag index!</h1>
</div>
<div class="Tags">
	<% @tags.each do |tag| %>
		<%= link_to(tag_path(tag.name)) do %>
			<h2 class="Tags__name">(<%= tag.count %>) <%= tag.name %></h2>
		<% end %>
	<% end %>
</div>