<div class="intro">
	<h1>The tag index!</h1>
</div>
<div class="tags">
	<% @tags.each do |tag| %>
		<%= link_to(tag_path(tag.name)) do %>
			<h2>(<%= tag.count %>) <%= tag.name %></h2>
		<% end %>
	<% end %>
</div>