<section class="Articles">
    <div class="Articles__list">
        <div class="Articles__header">
            <h1 class="Articles__title"><%= @tag %> Articles</h1>
        </div>
        <%= render :partial => 'articles/article', :collection => @articles, :locals => {list: true} %>
    </div>
    <dir class="Articles__blank"></dir>
</section>