//white
$color-0: #FFFFFF;
//light grey
$color-1: #EDEEEF;
//dark grey
$color-2: #454545;
//light black
$color-3: #323232;
//maroon
$color-4: #5F3440;
//green
$color-5: #B1D389;
//yellow
$color-6: #FFF25A;
//link
$color-link: #D80027;