@import 'base.scss';

.Navbar {
	background-color: $color-3;
	position: relative;
}
.Navbar__mobile {
	display: none;
	cursor: pointer;
	height: 50px;
}
.Navbar__mobileLogo {
	width: 25px;
	margin: 0;
	padding: 11.1px;
	float: left;
}
.Navbar__hamburger {
	float: right;
	padding: 16px;
	span {
		clear: both;
		width: 25px;
		height: 4px;
		background-color: $color-0;
		display: block;
		transition: inherit;
		position: relative;
		transition: all 1s cubic-bezier(0.2, 0.3, 0.25, 0.9);
		&:not(:first-of-type) {
			margin-top: 3px;
		}
	}
	&--close-left {
		transform: rotate(45deg) translateY(10px);
		margin-left: 7.5px;
	}
	&--close-right {
		transform: rotate(-45deg);
	}
}
.Navbar__logo {
	width: 130px;
	height: auto;
	display: block;
	margin: 35px auto 0 auto;
}
.Navbar__break {
	border-top: 5px solid $color-0;
	border-bottom: 5px solid $color-0;
	border-left: 1px solid $color-0;
	border-right: 5px solid $color-0;
	width: 200px;
	margin: 24px auto 6px auto;
}
.Navbar__map {
	width: 200px;
	margin: 0 auto;
	display: block;
}
.Navbar__destination {
	color: $color-0;
	text-align: left;
	width: 100%;
	padding: 12px 0;
	margin: 0;
	border-bottom: none;
	&:hover {
		color: $color-link;
	}
}

@media only screen and (max-width: 800px) {
	.Navbar__mobile {
		display: block;
	}
	.Navbar__logo {
		display: none;
	}
	.Navbar__break {
		display: none;
	}
	.Navbar__map {
		display: none;
		background-color: $color-2;
		width: 100%;
		a {
			&:last-of-type {
				h4 {
					padding-bottom: 20px;
				}
			}
			&:first-of-type {
				h4 {
					padding-top: 20px;
				}
			}
		}
		h4 {
			text-align: center;
		}
	}
}

