/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'base.scss';

body {
	margin: 0;
	padding: 0;
	#content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		nav {
			flex-basis: 250px;
			flex-direction: row;
			min-height: 100vh;
			overflow-y: scroll;
		}
		main {
			flex: 1;
			flex-direction: row;
			display: block;
			max-height: 100vh;
			overflow-y: scroll;
		}
	}
	a {
		text-decoration: none !important;
		color: $color-2;
		> * {
			border-bottom: 1px dotted $color-link;
			&:hover {
				color: $color-link;
			}
		}
	}
	p {
		line-height: 25px;
	}
}
.notice {
	color: $color-link;
}
button {
	border: none;
	padding: 10px 17px;
	cursor: pointer;
}
input.text {
	padding: 0.5% 1%;
	outline: none;
	border: none;
	width: 80%;
	max-width: 300px;
	&:focus {
		outline: $color-link;
	}
}
textarea.text {
	padding: 0.5% 1%;
	outline: none;
	border: none;
	width: 80%;
	max-width: 300px;
	&:focus {
		outline: $color-link;
	}
}
input.white-dark {
	border: none;
	padding: 8px 17px;
	cursor: pointer;
	background-color: $color-0;
	color: $color-2;
	border: 2px solid $color-0;
	@include smoothTransition;
	&:hover {
		background-color: $color-2;
		color: $color-0;
		@include smoothTransition;
	}
	&:focus {
		outline: none;
	}
}

button.dark-white {
	background-color: $color-2;
	color: $color-0;
	border: 2px solid $color-2;
	@include smoothTransition;
	&:hover {
		background-color: $color-0;
		color: $color-2;
		@include smoothTransition;
	}
	&:focus {
		outline: none;
	}
}

@media only screen and (max-width: 800px) {
	body {
		#content {
			flex-direction: column !important;
			main {
				max-height: none;
			}
			nav {
				min-height: 50px;
				flex-basis: auto;
				overflow-y: hidden;
			}
		}
	}
}
