@import 'components/normalize.scss';
@import 'components/colors.scss';
@import 'components/transitions.scss';
@import 'components/forms.scss';

.Utilities__nakedLink {
	border-bottom: 1px dotted $color-link;
	&:hover {
		color: $color-link;
	}
}
.Utilities__notice {
	color: $color-link;
}
.Utilities__header {
	width: 92%;
	padding: 4%;
	background-color: $color-4;
	margin: 0 !important;
	text-align: center;
	color: $color-0;
}
